.position{
    background-color: gray;
    color: rgb(216, 216, 52);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  


}
.button{
    background-color: green;
    color: black;
    height: 40px;
    width: 80px;
    border: solid 0px;
    border-radius: 2px;
}
